.app.dark {
    --bg-color: #1c1c64;
    --bg-color-inverted: #e7e7e8;
    --primary-color: #08b508;
    --secondary-color: #52d852;
    --primary-color-inverted: #0e14de;
    --secondary-color-inverted: #385dcd;
}