.app.light {
    --bg-color: #e7e7e8;
    --bg-color-inverted: #1c1c64;

    --primary-color: #0e14de;
    --secondary-color: #385dcd;

    --primary-color-inverted: #08b508;
    --secondary-color-inverted: #52d852;
}